*
{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    font-family: Inter, sans-serif;
}
.navigation
{
    left: 0;
    right: 0;
    width: 100%;
    height: 85px;
    padding: 16px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #ECECEC;
    z-index: 1;
   
}
.nav_logo
{
    width: 150px;
    height: 50px;
    
    margin-left: 70px;
    
}
.signal_nav
{
    display: flex;
    margin-right: 70px;
    color: black;

}
.signal_nav a{
    margin: 0 10px;
    color: black;
}
.nav_icon
{
    height: 10px;
    width: 20px;
}
.main
{
    min-width: 1024px;
    height: 680px;
    display: flex;
    
    justify-content: space-between;
    align-items: stretch;
    background-color: #9DBBF8;
    color: #1b1b1b;
}
.main_left
{
    width: 547px;
    height: 698px;
    margin-left: 76px;
    margin-top: 36px;

}
.main_left h1
{
    margin-top: 120px;
    margin-bottom: 24px;
    font-size: 60px;
    font-weight: 800;
    line-height: 64px;
    color: #1b1b1b;

}
.main_right
{
    width: 820px;
    height: 698px;
    padding-top: 50px;
}
.body1
{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #1b1b1b;
}
button
{
    background-color: #fff;
    color: #2C6BED;
    font-size: 20px;
 height: 50px;
    padding: 0 20px;
    border-radius: 8px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    
}
.ph_one
{
    margin-left: 0px;
    margin-top: 46px;
    width: 320px;
    transform: rotate(22.5deg);

}
.ph_two
{
    
    position: absolute;
    top: 100px;
    right: 205px;
    width: 320px;
    transform: rotate(22.5deg);
}
.main_two
{
    
    min-width: 1024px;
    height: 888px;
    color: #1b1b1b;
    background-color: #ECECEC;
   display: flex;
   padding: 75px;
  

}
.one 
{
    width: 684px;
    height: 328px;
   
display: flex;
}
.one img
{
    border-radius: 50px;
    width:90px; height:90px;
    margin-right: 10px;
}
.why_signal
{
   
    width: 1000px;
    height: 200px;
    padding: 48px 24px;
    text-align: center;
    margin: 0 auto;
}
.why_signal h2
{
    font-size: 40px;
    font-weight: 800;
    line-height: 44px;
    margin-bottom: 16px;
    color: #1b1b1b;;
}
.why_signal p
{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}
.main_three
{
    
    height: 680px;
    display: flex;
    justify-content: center;

}
.main_four
{
    width: 1512px;
    height: 1190px;
}
.main_four .flex
{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.main_four .flex .box
{
    width: 660px;
    height: 535px;
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 12%), 0px 0px 2px rgb(0 0 0 / 8%);
    height: 100%;
    padding: 30px;
    text-align: center;
    margin: 10px;
}
.main_four .flex .box img
{
    width: 370px;
    height: 370px;
}
.main_four .flex .box h3
{
    color: #1b1b1b;
    font-size: 28px;
    font-weight: 800;
    line-height: 32px;
    margin-top: 18px;
    margin-bottom: 4px;
}
.main_four .flex .box p
{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.no_add
{
    display: flex;
    justify-content: left;
    margin-left: 80px;
    margin-bottom: 60px;

}
.column_left
{
    width: 456px;
    height: 563px;
    margin: 0 40px;
}
.column img
{
    width: 680px;
    border-radius: 16px;
}
.column_left h2
{
    font-size: 40px;
    font-weight: 800;
    line-height: 44px;
    margin-bottom: 40px;
}
.column_left p
{
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}
.free
{
    display: flex;
    justify-content: right;
    margin-right: 80px;
    margin-bottom: 60px;
}
.donate_btn
{
    background-color: #fff;
    border: 2px solid #2c6bed;
    border-radius: 8px;
    color:  #2c6bed ;
    font-weight: 600;
    margin-top: 25px;
}
.footer
{
   
    color: #ECECEC;
    font-size: 16px;
    line-height: 22px;
    height: 250px;
    width: 100%;
    background-color: #3C3744;
    padding-top: 35px;
}
.columns
{
display: flex;
justify-content: space-between;
margin: 0 100px;


}
.columnz
{

padding: 12px;
}
.columnz li
{
    list-style-type: none;
    margin-bottom: 5px;
}
.columnz a
{
    color: #ECECEC;
}
.columnz h1
{
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 22px;
}
.right img
{
    width: 640px;
    height: 640px;
    border-radius: 5px;
}
.left 
{
    width: 640px;
    height: 640px;
    padding-right: 250px;
}
.left h2
{
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 30px;
}
.left p
{
    font-size: 20px;
    line-height: 28px;
}
